@import "utils";

.StampCard {
	border-bottom: $border;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;

	&+& {
		margin-top: 1rem;
	}

	.Stamp {
		width: calc(20% - 10px);
		padding-top: calc(20% - 10px);
		position: relative;
		margin: 5px;
		background: $stamp-color;
		border-radius: 50%;
		cursor: pointer;

		&.small {
			width: calc(16.666666% - 6px);
			padding-top: calc(16.666666% - 6px);
			margin: 3px;
		}

		span {
			display: block;
			position: absolute;
			top:50%; left: 50%;
			margin: -10px 0 0 -10px;
			width: 20px; height: 20px;
			text-align: center; line-height: 20px;
			color: #cbc8dc;
		}
	}
}