// $bg-color: #6c5cce;
// $base-color: #504499;

// $txt-base: #cec6ff;
// $txt-hover: #fff;


$bg-color: #fff;
$base-color: #504499;

$icon-base: #cec6ff;
$icon-hover: #fff;

$txt-base: #605c77;
$txt-hover: #fff;

$border: 1px solid #dcd6ff;

$stamp-color: #f4f2ff;

